
		<h1>Bianca Marie Uy </h1>
		<table class="table table-hover" width="40%">
			<thead>
				<tr align="center" style="font-weight: bold">
					<td> Project Name </td>
					<td> Description </td>
					<td> URL </td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<% PROJECTS.each do |projects, details| %>
					<td> <%= projects %> </td>
					<td> <%= details['description'] %> </td>
					<td> <%= link_to details['url'], details['url'] %> </td>
				</tr>
				<% end %>
			</tbody>
		</table>
