<div class="container">
<h1>Bootstrap Framework</h1>
<ul>
 <li> Installed gem bootstrap-sass</li>
 <li> Included in the Gemfile: 
	</br><blockquote>gem "bootstrap-sass", "~> 2.3.2.2" </blockquote></li>
 <li> Bundle install </li>
 <li> Included to pages.css.scss: 
	</br><blockquote>@import "bootstrap" </br>@import "bootstrap-responsive"</blockquote></li>
 <li> Included to application.js: 
	</br><blockquote>//= require bootstrap</blockquote></li>
</ul>
</div>

