// Place all the styles related to the Calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#days_of_week {
  text-align: center;
  font-weight: bold;
}

.days {
  text-align: center;
}

.current_day {
  background-color: #FFCC99;
}

.highlight {
  background-color: #ECECE3;
}

table {
  table-layout: fixed;
}

tbody td {
  width: 50px;
  overflow: hidden;
}

.event_cal {
  padding-left: 2px;
  margin-bottom: 5px;
  background-color: #E7F7FF;
  border-radius: 8px;
}
