// Place all the styles related to the Calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#days_of_week {
  font-weight: bold;
}

.days {
  text-align: center;
}

.current_day {
  background-color: #eee;
}

.highlight {
  background-color: #BFFF9E;
}

table {
  table-layout: fixed;
}

tbody td {
  width: 50px;
  overflow: hidden;
}

